@import "../globals.scss";

.edit {
  flex: 1; 
  padding: 40px 25%;

  button {
    padding-left: 30px;
    padding-right: 30px;
  }
}

textarea {
  width: 100%;
  border: 0;
  border-radius: 3px;
  margin-bottom: 40px;
  display: block;
  height: 200px;
  font-size: 1em;
  padding: 5px;
  box-sizing: border-box;
  color: $dark-grey;
}