@import "./colors.scss";

h1 {
  font-size: 1.4em;
  font-weight: 500;
  color: $dark-grey;
}

label, input {
  display: block;
  color: $dark-grey;
}

label {
  padding: 10px 0px;
  font-size: 1.2em;
}

input {
  width: 100%;
  border: none;
  font-size: 1.1em;
  padding: 10px;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  background: $green;
  color: white;
  border: 0;
  border-radius: 3px;
  font-size: 1em;
  padding: 15px 55px;
}